<div class="grid">
    <div class="col-12">
      <button pButton type="button" icon="pi pi-arrow-left" label="Назад" class="p-button-link" [routerLink]="['/sheet']"></button>  
    </div>
</div>

<div class="p-card m-5">
    <p-table [value]="billClasses" responsiveLayout="scroll" styleClass="p-datatable-striped" scrollDirection="both" dataKey="id">
        <ng-template pTemplate="caption">
            <span>{{sheetDetails?.name}}</span>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th colspan="1"></th>
                <th colspan="2">Входящее сальдо</th>
                <th colspan="2">Оборот</th>
                <th colspan=2>Исходящее сальдо</th>
            </tr>
            <tr>
                <th colspan="1"></th>
                <th>Актив</th>
                <th>Пассив</th>
                <th>Дебет</th>
                <th>Кредет</th>
                <th>Актив</th>
                <th>Пассив</th>
            </tr>
            <tr>
                <th><b>БАЛАНС</b></th>
                <th><b>{{sheetDetails?.incomingBalanceActive | number:'4.1-5'}}</b></th>
                <th><b>{{sheetDetails?.incomingBalancePassive | number:'4.1-5'}}</b></th>
                <th><b>{{sheetDetails?.turnoverDebit | number:'4.1-5'}}</b></th>
                <th><b>{{sheetDetails?.turnoverCredit | number:'4.1-5'}}</b></th>
                <th><b>{{sheetDetails?.outgoingBalanceActive | number:'4.1-5'}}</b></th>
                <th><b>{{sheetDetails?.outgoingBalancePassive | number:'4.1-5'}}</b></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-billClass let-expanded="expanded">
            <tr>
                <th colspan="1"></th>
                <td colspan="6">
                    {{billClass.name}}
                </td>
            </tr>
            <tr>
                <td>
                    <button type="button" pButton pRipple [pRowToggler]="billClass" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                </td>
                <td><b>{{billClass.incomingBalanceActive | number:'4.1-5'}}</b></td>
                <td><b>{{billClass.incomingBalancePassive | number:'4.1-5'}}</b></td>
                <td><b>{{billClass.turnoverDebit | number:'4.1-5'}}</b></td>
                <td><b>{{billClass.turnoverCredit | number:'4.1-5'}}</b></td>
                <td><b>{{billClass.outgoingBalanceActive | number:'4.1-5'}}</b></td>
                <td><b>{{billClass.outgoingBalancePassive | number:'4.1-5'}}</b></td>
            </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-billClass>
            <tr>
                <th colspan="1"></th>
                <td colspan="6">
                    <p-table [value]="billClass.bills">
                        <ng-template pTemplate="header">
                            <tr>
                                <th rowspan="2">Б / сч</th>
                                <th colspan="2">Входящее сальдо</th>
                                <th colspan="2">Оборот</th>
                                <th colspan=2>Исходящее сальдо</th>
                            </tr>
                            <tr>
                                <th>Актив</th>
                                <th>Пассив</th>
                                <th>Дебет</th>
                                <th>Кредет</th>
                                <th>Актив</th>
                                <th>Пассив</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-bill>
                            <tr>
                                <ng-container *ngIf="bill.billNumber.toString().length === 2">
                                    <td><b>{{bill.billNumber}}</b></td>
                                    <td><b>{{bill.incomingBalanceActive | number:'4.1-5'}}</b></td>
                                    <td><b>{{bill.incomingBalancePassive | number:'4.1-5'}}</b></td>
                                    <td><b>{{bill.turnoverDebit | number:'4.1-5'}}</b></td>
                                    <td><b>{{bill.turnoverCredit | number:'4.1-5'}}</b></td>
                                    <td><b>{{bill.outgoingBalanceActive | number:'4.1-5'}}</b></td>
                                    <td><b>{{bill.outgoingBalancePassive | number:'4.1-5'}}</b></td>
                                </ng-container>
                                <ng-container *ngIf="bill.billNumber.toString().length !== 2">
                                    <td>{{bill.billNumber}}</td>
                                    <td>{{bill.incomingBalanceActive | number:'4.1-5'}}</td>
                                    <td>{{bill.incomingBalancePassive | number:'4.1-5'}}</td>
                                    <td>{{bill.turnoverDebit | number:'4.1-5'}}</td>
                                    <td>{{bill.turnoverCredit | number:'4.1-5'}}</td>
                                    <td>{{bill.outgoingBalanceActive | number:'4.1-5'}}</td>
                                    <td>{{bill.outgoingBalancePassive | number:'4.1-5'}}</td>
                                </ng-container>
                            </tr>
                        </ng-template>
                    </p-table>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>