<p-toast></p-toast>
<div class="p-card m-5">
    <p-table [value]="turnoverSheet" responsiveLayout="scroll" styleClass="p-datatable-striped" scrollDirection="both">
        <ng-template pTemplate="caption">
            <div class="flex">
                <div>
                    <span class="text-3xl">OCB Баланс</span>
                </div>
                <div class="ml-auto">
                    <p-fileUpload #uploadOcb name="uploadOcb"
                                  [accept]="'.xls, .xlsx'"
                                  [showCancelButton]="false"
                                  [showUploadButton]="false"
                                  chooseLabel="Загрузить ОСВ"
                                  [auto]="true"
                                  [multiple]="false"
                                  [customUpload]="true"
                                  (uploadHandler)="onOcbAttached($event)">
                    </p-fileUpload>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th rowspan="2" colspan="2">Название</th>
                <th colspan="2">Входящее сальдо</th>
                <th colspan="2">Оборот</th>
                <th colspan=2>Исходящее сальдо</th>
            </tr>
            <tr>
                <th>Актив</th>
                <th>Пассив</th>
                <th>Дебет</th>
                <th>Кредит</th>
                <th>Актив</th>
                <th>Пассив</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-sheet>
            <tr>
                <td colspan="2"><a [routerLink]="['/sheet', sheet.id]">{{sheet.name | slice:0:20}}</a></td>
                <td>{{sheet.incomingBalanceActive | number:'4.1-5'}}</td>
                <td>{{sheet.incomingBalancePassive | number:'4.1-5'}}</td>
                <td>{{sheet.turnoverDebit | number:'4.1-5'}}</td>
                <td>{{sheet.turnoverCredit | number:'4.1-5'}}</td>
                <td>{{sheet.outgoingBalanceActive | number:'4.1-5'}}</td>
                <td>{{sheet.outgoingBalancePassive | number:'4.1-5'}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>